body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.input-row {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

li {
    background: #e9e9e9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 7px;
    cursor: pointer;
}
